{% extends 'base.html' %}

{% block title %}유한양행 메인 페이지{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <h1>계정 현황</h1>
                <div class="row">
                    <!-- Employee Chart -->
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">계정 현황</h3>
                            </div>
                            <div class="card-body">
                                <canvas id="employeeChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

